*{
    margin: 0px;
    padding: 0px;
}

h1{
    color:white;
    font-family:cursive;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    margin: 0.5vmin;
    border: none;
    border-radius:10px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 14vmin;
    background-color: white;
    color:black;
}

#reset{
    height: 1.5rem;
    width: 7rem;
    border: 2px solid black ;
    font-size: 1rem;
    font-family: cursive;
    border-radius:6px;
    margin-top: 2rem;
}

#pinfo{
    display:flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin-left: 50px;
    margin-right: 50px;

}

.invis{
    visibility: hidden;
}
